body,
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* Navbar */
nav {
  max-width: 100vw;
  height: 9vh;
  position: relative;

  /* border-bottom: 1px solid gray; */
  box-shadow: 0px 0px 15px 0px rgb(89, 89, 89);

  display: flex;
  justify-content: space-between;
  background-color: black;
}
.bars {
  height: 100%;
  /* display: flex; */
  align-items: center;
  margin-left: 10px;
  display: none;
}
.bars a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}
.title {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 15px;
}
.title h2 {
  font-size: 2em;
  font-family: "Silkscreen", sans-serif;
}
.menu {
  height: 100%;

  display: flex;
  align-items: center;
  position: absolute;
  /* padding: 0px 46% 0px 0px; */
  left: 16%;
  /* margin-left: 16%; */
}
.menu ul {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.menu li {
  list-style-type: none;
}
.menu a {
  color: white;
  text-decoration: none;
}
.search {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 18px;
}
.search input {
  padding: 5px 27px;
  margin-right: 10px;
  background-color: rgb(196, 192, 192);
}
.search i {
  color: white;
}
/* Menu Movie */
.movie-menu {
  top: 65px;
  left: 15%;
  max-height: 0px;
  position: absolute;
  background-color: black;
  overflow: hidden;
  transition: 1s;
}
.drop {
  max-height: 200px;
}

.movie-menu li {
  list-style-type: none;
  padding: 10px 10px;
  border-bottom: 1px solid white;
}
.movie-menu a {
  text-decoration: none;
  color: white;
}
/* Genre */
.genre {
  margin-top: 100px;
  width: 100vw;
  height: 60vh;
  display: none;

  font-family: "Bebas Neue", sans-serif;
}
.genre h1 {
  margin-left: 40px;
  color: white;
}
.wrapper {
  padding-top: 18px;
  border-top: 1px solid rgb(98, 97, 97);
  margin-top: 8px;
  display: grid;
  grid-template-areas:
    "horror comedy adventure"
    "action drama romantic"
    "family fantasy thriller"
    "anime documentary mistery";
}
.gen {
  border-radius: 10px;
  margin-left: 30px;
  margin-bottom: 15px;
  width: 25vw;
  padding: 20px;

  font-size: 1.2em;
  background-color: rgb(67, 67, 67);
  color: gainsboro;
}
a {
  text-decoration: none;
}
/* year */
.year {
  margin-top: 100px;
  width: 100vw;
  height: 60vh;
  display: none;

  font-family: "Bebas Neue", sans-serif;
}
.year h1 {
  margin-left: 40px;
  color: white;
}
.wrapper {
  padding-top: 18px;
  border-top: 1px solid rgb(98, 97, 97);
  margin-top: 8px;
  display: grid;
  grid-template-areas:
    "2023 2022 2021"
    "2020 2019 2018"
    "2017 2016 2015"
    "2014 2013 2012";
}
.yea {
  border-radius: 10px;
  margin-left: 30px;
  margin-bottom: 15px;
  width: 25vw;
  padding: 20px;

  font-size: 1.2em;
  background-color: rgb(67, 67, 67);
  color: gainsboro;
}
a {
  text-decoration: none;
}
/* Batas Navbar */

/* IKLAN */
.wrapper_iklan {
  width: 100vw;
  height: 45vh;
  /* border: 1px solid salmon; */
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.commercial {
  display: grid;
  grid-template-areas:
    "attention attention"
    "iklan1 iklan2"
    "iklan3 iklan4";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  width: 90%;
  /* border: 1px solid whitesmoke; */
}
.attention {
  grid-area: attention;
  /* border: 1px solid red; */
  color: wheat;
  text-align: center;

  border-radius: 10px;
  background-color: gray;
}
.attention p {
  /* border: 1px solid white; */
  padding: 35px;
}
.iklan1 {
  margin-top: 10px;
  grid-area: iklan1;
}
.iklan2 {
  margin-top: 10px;
  grid-area: iklan2;
}
.iklan3 {
  margin-top: 10px;
  grid-area: iklan3;
}
.iklan4 {
  margin-top: 10px;
  grid-area: iklan4;
}
.commercial img {
  /* border: 1px solid purple; */
  width: 100%;
  height: 100px;

  border-radius: 2px;
}

/* Batas IKLAN */

.featured {
  color: white;
  margin: 50px 0px 0px 50px;
  padding-left: 10px;
  border-left: 3px solid red;
  border-radius: 3px;
  font-family: "Bebas Neue", sans-serif;
}

/* main content */
main {
  margin: 10px 0 35px 0;
  width: 100vw;
  height: auto;
  /* display: flex; */
  /* justify-content: center; */
  /* border: 5px solid white; */
}
.contents {
  display: grid;
  /* grid-template-areas:
    "content-1 content-2 content-3 content-4 content-5 content-6"
    "content-7 content-8 content-9 content-10 content-11 content-12"
    "content-13 content-14 content-15 content-16 content-17 content-18";
  grid-template-columns: repeat(6, 0.5fr);
  row-gap: 100px;
  padding: 10px; */
  grid-template-columns: repeat(auto-fit, 190px);
  /* grid-template-rows:  */
  /* grid-template-rows: 1fr 1fr 1fr; */
  gap: 130px 100px;
  padding: 10px;
  margin-left: 60px;
  /* border: 1px solid red */
}
.content div {
  /* border: 3px solid blue; */
  overflow: hidden;
  border-radius: 20px;
  height: 353px;
  width: 233px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* .content i {
  position: absolute;
  font-size: 0em;
  border: 1px solid red;
  height: 20%;
  width: 28%;

  /* content-visibility: hidden; */

/* display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  overflow: hidden;
  transition: 0.5s;  */
/* display: none;/
}

/* .content i:hover {
  content-visibility: visible;
  font-size: 4em;
}  */

.content div img {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: 0.4s;
}
.content img:hover {
  /* position: relative; */
  width: 150%;
  height: 135%;
  filter: blur(5px);
}
.contents a {
  /* border: 2px solid whitesmoke; */
  color: white;
  max-height: 400px;
}
.content h2 {
  margin: 10px 0px 3px 0px;
  font-size: 1em;
  font-family: "Roboto Mono", monospace;
  transition: 0.5s;
}
.content h2:hover {
  color: crimson;
}
.content p {
  font-size: 0.8em;
  color: rgb(141, 140, 140);
}
/* batas main content */

/* Footer  */
footer {
  width: 100vw;
  height: 15vh;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid gainsboro;
  background-color: rgb(33, 32, 32);
  transform: scaleX(10px);
  /* box-shadow: 1px 0px 0px 0px gainsboro; */
}

footer div {
  padding: 0 0 0 20px;
  font-family: "Bebas Neue", sans-serif;
  color: white;
}
footer ul {
  display: flex;
  justify-content: space-evenly;
  width: 15%;
  padding: 0 20px 0 0;
}
footer li {
  list-style-type: none;
}
footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
}

/* Media Query (responsive)*/
@media screen and (max-width: 770px) and (min-width: 670px) {
  /* Navbar */
  .title {
    font-size: 0.5em;
  }
  .menu ul {
    justify-content: space-evenly;
    font-size: 0.8em;
  }
  .search input {
    padding: 3px 15px;
  }
  .search i {
    font-size: 0.8em;
  }
  /* Movie-menu  */
  .movie-menu {
    font-size: 0.8em;
    left: 19%;
  }
  /* content */
  .contents {
    display: grid;
    grid-template-areas:
      "content-1 content-2 content3"
      "content-4 content-5 content-6"
      "content-7 content-8 content-9"
      "content-10 content-11 content-12"
      "content-13 content-14 content-15"
      "content-16 content-17 content-18";
    grid-template-columns: repeat(1fr);
  }
}
@media screen and (max-width: 670px) and (min-width: 350px) {
  nav {
    justify-content: space-between;
  }
  .bars {
    display: flex;
  }
  .title {
    font-size: 0.7em;
  }
  .menu {
    /* border-bottom: 1px solid white; */
    position: absolute;
    height: auto;
    width: 100vw;
    top: 65px;
    left: 0;
    display: none;
  }

  .menu ul {
    display: block;
  }

  .film {
    padding: 0px 0px 70px 0px;
  }
  .menu li {
    border-bottom: 0.5px solid gainsboro;
  }

  .search input {
    display: none;
  }
  /* movie menu */
  .movie-menu {
    left: 2px;
    top: 95px;
  }
  .movie-menu ul {
    display: flex;
  }
  .movie-menu li {
    border-bottom: none;
    border-right: 1px solid white;
  }
}
